/* MyProject.css */

.my-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.my-portfolio {
  font-size: 36px;
  margin-bottom: 20px;
}

.my-project a {
  flex: 1;
  margin: 10px 10px;
  text-align: center;
}

.my-project img {
  width: 700px;
  height: auto;
  max-height: 600px;
}
